<div class="container mt-3 mb-3">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="invoice p-5">
          <h5>Your order request has been confirmed!</h5> 
          <span class="font-weight-bold d-block mt-4">
           <%= "Hello, #{current_user.full_name}" %>
          </span>
          <span>You request has been confirmed and you will be contacted by Novi-Tec to confirm fitment. Then we will collect payment from you and notify you when your item(s) are shipped.</span>
          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td width="25%">
                    <div class="py-2">
                      <span class="d-block text-muted">Order Date</span> 
                      <span>
                        <%= Time.new.strftime("%b %e %Y") %>
                      </span> 
                    </div>
                  </td>
                  <td width="30%">
                    <div class="py-2">
                      
                    </div>
                  </td>
                  <td width="45%">
                    <div class="py-2">
                      <span class="d-block text-muted">Shiping Address</span> 
                      <span class="d-block"><%= "#{current_user.full_name}" %></span>
                      <span class="d-block"><%= @address.address_line_1 %></span>
                      <span class="d-block"><%= @address.address_line_2 %></span>
                      <span class="d-block">
                        <%= "#{@address.city} #{@address.state}, #{@address.zip}" %>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="product border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                <% total_price = 0 %>
                 <% @cart.each do |item| %>
                  <% quantity = get_quantity(item.id) %>
                  <% price = item.price * quantity %>
                  <% total_price += price %>
                  <tr>
                    <td width="40%">
                        <%= item.name%>
                    </td>
                    <td width="40%">
                      <span class="font-weight-bold">
                        <%= item.model_number%>
                      </span>
                      <div class="product-qty">
                        <span class="d-block">
                        <%= "Quantity: #{quantity}" %>
                        </span> 
                      </div>
                    </td>
                    <td width="20%">
                      <div class="text-left">
                        <span class="font-weight-bold">
                          <%= number_to_currency(price/100.0) %>
                        </span>
                        <% if quantity > 1 %>
                          <small class="text-muted">
                            <%= "(#{number_to_currency(item.price/100.0)} ea.)" %>
                          </small>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-md-5">
              <table class="table table-borderless">
                <tbody class="totals">
                  <tr>
                    <td>
                      <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>
                          <%= number_to_currency(total_price/100.0) %>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                    </td>
                    <td>
                      <div class="text-right"> <span>TBD</span> </div>
                    </td>
                  </tr>
                  <tr class="border-top border-bottom">
                    <td>
                      <div class="text-left"> <span class="font-weight-bold">Total</span> </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="font-weight-bold">
                          <%= number_to_currency(total_price/100.0) %>
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p>Please note that we will be contacting you to confirm fitment and stock. Then we will be collecting payment information from you before shipping. Once shipped We will be sending you the shipping information.</p>
          <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
        </div>
        <div class="d-flex justify-content-between footer p-3"> 
        </div>
      </div>
    </div>
  </div>
</div>